
@{
    ViewBag.Title = "Create";
}

<h2>Create a User</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <label for="inputEmail">Email address</label>
    @Html.TextBox("Email address")
    <label for="inputPassword">Password</label>
    @Html.Password("Password")

    <div class="form-group">
        <label for="inputOwner">Owner Name</label>
        <div class="col-md-10">
            @Html.DropDownList("OwnerID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <button type="submit">Create</button>


}