@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <img src="~/Content/Graphics/JumbotronLogo.jpg" alt="Something Borrowed Logo" style="height: auto; width: 50%; max-width: 600px;" />
</div>
<br />
<div class="text-center">
    @Html.ActionLink("Create New Admin Account", "Create", null, new { @class = "btn btn-light btn-primary" })
</div>
   