@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron justify-content-center" style="opacity:.6; background-image:url(../../Content/Graphics/JumbotronLogo.jpg); background-repeat:no-repeat; background-size:100% 100%; background-position:center; height:200px; width:600px">

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container-fluid jumbotron-fluid rounded text-center" style="background-color: #b6f1ef">
    <h1>Make an appointment</h1>
    <p>Looking for dresses? Schedule an appointment to come try on our growing collection of dresses!</p>
    <h3>Schedule Today</h3>
</div>   